#canvas{
  position: absolute;
  right: 740px;
}

.info{
  color: white;
  font-size: 36px;
  text-align: center;
}

.canvas{
  width: 450px;
  height: 750px;
  margin-top: 30px;
}

.colr{
  background-color: #D69236;
  border-radius: 20px;
  padding: 10px;
  margin-top: 50px;
}

.game_text{
  color: white;
  font-size: 26px;
}

.play{
  text-align: center;
  background-color: #04A6DA;
  border: 0px solid #04A6DA;
  color: white;
  border-radius: 20px;
  font-size: 64px;
  padding: 5px 30px;
  margin-top: 20px;
  margin-left: 50px;
}

.play:focus {
  outline: 0;
  outline-offset: 0;
}
